body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('image-asset.jpeg');
    background-size: cover;
    background-position: center;
}

.name{
    color: brown;
    width: 85%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Main{
    width: 100%;
    font-size: 35px;
    top: 50%;
    
    text-align: center;
}
.Inputs{
    width: 100%;
    font-size: 25px;
    top: 50%;
    
    text-align: center;
}
.mobile{
    width: 100%;
    font-size: 25px;
    top: 50%;
    
    text-align: center;
}


#button{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    font-size: 25px;

}